FLASK_ENV=development
FLASK_DEBUG=1
SECRET_KEY=your-secret-key-here
GOOGLE_SHEETS_CREDENTIALS_PATH=path/to/credentials.json
GOOGLE_SHEET_ID=1bEiceW4zLOk4I0wxWtPYsiIuP4BsNQIUvp_Pyzh4znk
GOOGLE_KEY=AIzaSyB0o-d6YO0jdtT8v4rAalaJ5POdEYHpYqE
OPENAI_KEY=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
FALAI_KEY=fc3b62ce-ac77-48c7-b4b8-0d898f06274f:fd62f0ff0e7c0723b57ffc03ce7272d8
HF_TOKEN=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