blinker
certifi
charset-normalizer
click
Flask==3.1.2
google-api-core
google-api-python-client==2.188.0
google-auth==2.47.0
google-auth-httplib2
googleapis-common-protos
httplib2
idna
itsdangerous
Jinja2
MarkupSafe
proto-plus
protobuf
pyasn1
pyasn1_modules
pyparsing
python-dotenv==1.2.1
requests
rsa
uritemplate
urllib3
Werkzeug
